body {
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background: url('images/jungles.jpg') no-repeat center;
    background-size: cover;

}
.game {
    display: block;
    text-align: center;
}

#start, .buttonRestart {
    background-color: #0A3605;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 10px auto;
    padding: 10px 30px;
    font-size: 20px;
}
#canvas {
    /* border: 2px solid #073603; */
    background-color: #0A3605;
} 